body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.box {
  height: 20em;
  width: 16em;
  border: 1px solid black;
}
