body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  height: 100vh;
  width: 50%;
}

.box.box1 {
  background-color: rgba(233, 41, 7, 0.808);
  position: relative;
}

.box.box2 {
  background-color: rgba(216, 216, 16, 0.945);
  position: relative;
}

.text {
  position: absolute;
  text-align: center;
  width: 50%;
  z-index: 1;
}

h1 {
}
